In [1]:
import pandas as pd 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [2]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [3]:
df = pd.read_csv("/content/gdrive/MyDrive/uber lyft price prediction/data set/final_dataset_1.csv")

In [4]:
df

,Unnamed: 0,distance,cab_type,time_stamp,destination,source,surge_multiplier,id,product_id,name,...,max_travel_time,min_travel_time,avg_travel_time,merge_date,temp,clouds,pressure,rain,humidity,wind
0,0,1.45,Lyft,1545150004105,Back Bay,Northeastern University,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,lyft_line,Shared,...,14.0,5.0,9.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
1,1,4.17,Lyft,1545149713527,Financial District,Northeastern University,1.0,f6c9281c-bbb0-46d1-add7-1f6c72ff6b8f,lyft,Lyft,...,35.0,12.0,23.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
2,2,2.61,Uber,1545152108275,Beacon Hill,Northeastern University,1.0,00825834-c0ed-45b3-9482-cb10e6fbbfb0,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,...,20.0,9.0,14.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
3,3,2.41,Lyft,1545151204098,Beacon Hill,Northeastern University,1.0,be9279d1-8db6-4981-8ae2-15bff1d8ca20,lyft_premier,Lux,...,20.0,8.0,14.0,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
4,4,1.45,Lyft,1545150004105,Back Bay,Northeastern University,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,lyft_line,Shared,...,14.0,5.0,9.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293159,293159,2.30,Lyft,1543203646421,Boston University,Beacon Hill,1.0,d9852684-4e38-494c-ad6d-d8090e857ba9,lyft_line,Shared,...,4.0,4.0,4.0,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50
293160,293160,2.30,Lyft,1543203646421,Boston University,Beacon Hill,1.0,f3f35cea-9a3f-4534-930d-da42e7610f77,lyft_premier,Lux,...,4.0,4.0,4.0,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50
293161,293161,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,90e22612-d1c7-47c2-af54-2a2240109889,6c84fd89-3f11-4782-9b50-97c468b19529,Black,...,12.0,7.0,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50
293162,293162,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,bb3f969d-3190-4bb8-9a84-dff2deba0a98,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,...,12.0,7.0,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50
293163,293163,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,cec0651f-2280-48ac-86bf-cb0152cada9e,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,...,12.0,7.0,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293164 entries, 0 to 293163
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        293164 non-null  int64
 1   distance          293164 non-null  float64
 2   cab_type          293164 non-null  object
 3   time_stamp        293164 non-null  int64
 4   destination       293164 non-null  object
 5   source            293164 non-null  object
 6   surge_multiplier  293164 non-null  float64
 7   id                293164 non-null  object
 8   product_id        293164 non-null  object
 9   name              293164 non-null  object
 10  date_time         293164 non-null  object
 11  date              293164 non-null  object
 12  day               293164 non-null  int64
 13  hour              293164 non-null  int64
 14  fare_per_mile     293164 non-null  float64
 15  class_hour        293164 non-null  int64
 16  Price             293164 non-null  float64
 17  traveling_time    293164 non-null  object
 18  max_travel_time   293164 non-null  float64
 19  min_travel_time   293164 non-null  float64
 20  avg_travel_time   293164 non-null  float64
 21  merge_date        293164 non-null  object
 22  temp              293164 non-null  float64
 23  clouds            293164 non-null  float64
 24  pressure          293164 non-null  float64
 25  rain              293164 non-null  float64
 26  humidity          293164 non-null  float64
 27  wind              293164 non-null  float64
dtypes: float64(13), int64(5), object(10)
memory usage: 62.6+ MB

In [6]:
df.describe()

,Unnamed: 0,distance,time_stamp,surge_multiplier,day,hour,fare_per_mile,class_hour,Price,max_travel_time,min_travel_time,avg_travel_time,temp,clouds,pressure,rain,humidity,wind
count,293164.000000,293164.000000,2.931640e+05,293164.000000,293164.000000,293164.000000,293164.000000,293164.000000,293164.000000,293164.000000,293164.000000,293164.000000,293164.000000,293164.000000,293164.000000,293164.000000,293164.000000,293164.000000
mean,146581.500000,2.184345,1.544039e+12,1.015684,2.775163,11.649005,9.742553,3.551858,17.727900,14.132090,6.913451,10.522771,39.177126,0.669421,1010.168711,0.006681,0.748166,6.947496
std,84629.301496,1.135443,6.884634e+08,0.097847,2.054264,6.952049,14.517944,2.294274,10.102457,6.184633,2.507304,4.251729,6.612378,0.312424,13.382215,0.031553,0.128784,3.640198
min,0.000000,0.020000,1.543204e+12,1.000000,0.000000,0.000000,0.560000,0.000000,2.500000,1.000000,2.000000,2.000000,19.620000,0.000000,988.325000,0.000000,0.450000,0.300000
25%,73290.750000,1.270000,1.543443e+12,1.000000,1.000000,6.000000,4.670000,2.000000,9.690000,10.000000,5.000000,7.500000,36.030000,0.430000,999.910000,0.000000,0.650000,3.630000
50%,146581.500000,2.150000,1.543729e+12,1.000000,3.000000,12.000000,7.500000,4.000000,15.150000,14.000000,7.000000,10.000000,40.163333,0.760000,1009.350000,0.000000,0.730000,6.770000
75%,219872.250000,2.930000,1.544822e+12,1.000000,5.000000,18.000000,11.590000,6.000000,24.300000,18.000000,8.000000,13.000000,43.778750,0.960000,1021.870000,0.000000,0.874000,9.856667
max,293163.000000,7.620000,1.545159e+12,3.000000,6.000000,23.000000,1375.000000,7.000000,105.910000,55.000000,26.000000,40.500000,55.410000,1.000000,1035.120000,0.359825,0.990000,18.180000

# one hot encoding

In [7]:
dff=df[["distance",'avg_travel_time','temp','clouds','pressure','rain','humidity','wind']]

In [8]:
dff

,distance,avg_travel_time,temp,clouds,pressure,rain,humidity,wind
0,1.45,9.5,28.87,0.30,1011.50,0.0,0.46,14.46
1,4.17,23.5,28.87,0.30,1011.50,0.0,0.46,14.46
2,2.61,14.5,28.87,0.30,1011.50,0.0,0.46,14.46
3,2.41,14.0,28.87,0.30,1011.50,0.0,0.46,14.46
4,1.45,9.5,28.87,0.30,1011.50,0.0,0.46,14.46
...,...,...,...,...,...,...,...,...
293159,2.30,4.0,41.02,0.87,1014.39,0.0,0.92,1.50
293160,2.30,4.0,41.02,0.87,1014.39,0.0,0.92,1.50
293161,2.19,9.5,41.02,0.87,1014.39,0.0,0.92,1.50
293162,2.19,9.5,41.02,0.87,1014.39,0.0,0.92,1.50
293163,2.19,9.5,41.02,0.87,1014.39,0.0,0.92,1.50

In [9]:
from sklearn.preprocessing import StandardScaler

scalar=StandardScaler()

dff=scalar.fit_transform(dff)



dff = pd.DataFrame(dff, columns=[
  "distance",'avg_travel_time','temp','clouds','pressure','rain','humidity','wind'])

In [10]:
dff

,distance,avg_travel_time,temp,clouds,pressure,rain,humidity,wind
0,-0.646748,-0.240554,-1.558765,-1.182438,0.099482,-0.21175,-2.237593,2.063766
1,1.748797,3.052229,-1.558765,-1.182438,0.099482,-0.21175,-2.237593,2.063766
2,0.374881,0.935440,-1.558765,-1.182438,0.099482,-0.21175,-2.237593,2.063766
3,0.198738,0.817840,-1.558765,-1.182438,0.099482,-0.21175,-2.237593,2.063766
4,-0.646748,-0.240554,-1.558765,-1.182438,0.099482,-0.21175,-2.237593,2.063766
...,...,...,...,...,...,...,...,...
293159,0.101860,-1.534148,0.278701,0.642011,0.315441,-0.21175,1.334284,-1.496486
293160,0.101860,-1.534148,0.278701,0.642011,0.315441,-0.21175,1.334284,-1.496486
293161,0.004981,-0.240554,0.278701,0.642011,0.315441,-0.21175,1.334284,-1.496486
293162,0.004981,-0.240554,0.278701,0.642011,0.315441,-0.21175,1.334284,-1.496486
293163,0.004981,-0.240554,0.278701,0.642011,0.315441,-0.21175,1.334284,-1.496486

In [11]:
df.drop(["distance",'avg_travel_time','temp','clouds','pressure','rain','humidity','wind'], axis=1, inplace=True)

In [12]:
df = pd.concat([dff, df], axis=1, join='inner')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293164 entries, 0 to 293163
Data columns (total 28 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   distance          293164 non-null  float64
 1   avg_travel_time   293164 non-null  float64
 2   temp              293164 non-null  float64
 3   clouds            293164 non-null  float64
 4   pressure          293164 non-null  float64
 5   rain              293164 non-null  float64
 6   humidity          293164 non-null  float64
 7   wind              293164 non-null  float64
 8   Unnamed: 0        293164 non-null  int64
 9   cab_type          293164 non-null  object
 10  time_stamp        293164 non-null  int64
 11  destination       293164 non-null  object
 12  source            293164 non-null  object
 13  surge_multiplier  293164 non-null  float64
 14  id                293164 non-null  object
 15  product_id        293164 non-null  object
 16  name              293164 non-null  object
 17  date_time         293164 non-null  object
 18  date              293164 non-null  object
 19  day               293164 non-null  int64
 20  hour              293164 non-null  int64
 21  fare_per_mile     293164 non-null  float64
 22  class_hour        293164 non-null  int64
 23  Price             293164 non-null  float64
 24  traveling_time    293164 non-null  object
 25  max_travel_time   293164 non-null  float64
 26  min_travel_time   293164 non-null  float64
 27  merge_date        293164 non-null  object
dtypes: float64(13), int64(5), object(10)
memory usage: 62.6+ MB

In [15]:
df['Price']

0          5.300
1         14.310
2          8.400
3         17.325
4          5.300
           ...
293159     3.500
293160    16.500
293161    17.500
293162     8.000
293163    13.000
Name: Price, Length: 293164, dtype: float64

## for cab_type

In [16]:
df.cab_type.unique()

array(['Lyft', 'Uber'], dtype=object)

In [ ]:
#creating instance of one-hot-encoder
encoder = OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'team' column 
encoder_df = pd.DataFrame(encoder.fit_transform(df[['cab_type']]).toarray())

#merge one-hot encoded columns back with original DataFrame
df = df.join(encoder_df)

#view final df

In [ ]:
df

,Unnamed: 0,distance,cab_type,time_stamp,destination,source,surge_multiplier,id,product_id,name,...,avg_travel_time,merge_date,temp,clouds,pressure,rain,humidity,wind,0,1
0,0,1.45,Lyft,1545150004105,Back Bay,Northeastern University,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,lyft_line,Shared,...,9.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46,1.0,0.0
1,1,4.17,Lyft,1545149713527,Financial District,Northeastern University,1.0,f6c9281c-bbb0-46d1-add7-1f6c72ff6b8f,lyft,Lyft,...,23.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46,1.0,0.0
2,2,2.61,Uber,1545152108275,Beacon Hill,Northeastern University,1.0,00825834-c0ed-45b3-9482-cb10e6fbbfb0,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,...,14.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46,0.0,1.0
3,3,2.41,Lyft,1545151204098,Beacon Hill,Northeastern University,1.0,be9279d1-8db6-4981-8ae2-15bff1d8ca20,lyft_premier,Lux,...,14.0,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46,1.0,0.0
4,4,1.45,Lyft,1545150004105,Back Bay,Northeastern University,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,lyft_line,Shared,...,9.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293159,293159,2.30,Lyft,1543203646421,Boston University,Beacon Hill,1.0,d9852684-4e38-494c-ad6d-d8090e857ba9,lyft_line,Shared,...,4.0,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50,1.0,0.0
293160,293160,2.30,Lyft,1543203646421,Boston University,Beacon Hill,1.0,f3f35cea-9a3f-4534-930d-da42e7610f77,lyft_premier,Lux,...,4.0,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50,1.0,0.0
293161,293161,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,90e22612-d1c7-47c2-af54-2a2240109889,6c84fd89-3f11-4782-9b50-97c468b19529,Black,...,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50,0.0,1.0
293162,293162,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,bb3f969d-3190-4bb8-9a84-dff2deba0a98,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,...,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50,0.0,1.0
293163,293163,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,cec0651f-2280-48ac-86bf-cb0152cada9e,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,...,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50,0.0,1.0

In [ ]:
df.rename(columns = {1 : 'cab_type_uber' , 0 : 'cab_type_lyft'}, inplace = True)

In [ ]:
df

,Unnamed: 0,distance,cab_type,time_stamp,destination,source,surge_multiplier,id,product_id,name,...,avg_travel_time,merge_date,temp,clouds,pressure,rain,humidity,wind,cab_type_lyft,cab_type_uber
0,0,1.45,Lyft,1545150004105,Back Bay,Northeastern University,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,lyft_line,Shared,...,9.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46,1.0,0.0
1,1,4.17,Lyft,1545149713527,Financial District,Northeastern University,1.0,f6c9281c-bbb0-46d1-add7-1f6c72ff6b8f,lyft,Lyft,...,23.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46,1.0,0.0
2,2,2.61,Uber,1545152108275,Beacon Hill,Northeastern University,1.0,00825834-c0ed-45b3-9482-cb10e6fbbfb0,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,...,14.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46,0.0,1.0
3,3,2.41,Lyft,1545151204098,Beacon Hill,Northeastern University,1.0,be9279d1-8db6-4981-8ae2-15bff1d8ca20,lyft_premier,Lux,...,14.0,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46,1.0,0.0
4,4,1.45,Lyft,1545150004105,Back Bay,Northeastern University,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,lyft_line,Shared,...,9.5,Northeastern University - 2018-12-18 - 16,28.87,0.30,1011.50,0.0,0.46,14.46,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293159,293159,2.30,Lyft,1543203646421,Boston University,Beacon Hill,1.0,d9852684-4e38-494c-ad6d-d8090e857ba9,lyft_line,Shared,...,4.0,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50,1.0,0.0
293160,293160,2.30,Lyft,1543203646421,Boston University,Beacon Hill,1.0,f3f35cea-9a3f-4534-930d-da42e7610f77,lyft_premier,Lux,...,4.0,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50,1.0,0.0
293161,293161,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,90e22612-d1c7-47c2-af54-2a2240109889,6c84fd89-3f11-4782-9b50-97c468b19529,Black,...,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50,0.0,1.0
293162,293162,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,bb3f969d-3190-4bb8-9a84-dff2deba0a98,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,...,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50,0.0,1.0
293163,293163,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,cec0651f-2280-48ac-86bf-cb0152cada9e,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,...,9.5,Beacon Hill - 2018-11-26 - 3,41.02,0.87,1014.39,0.0,0.92,1.50,0.0,1.0

## surge multiplier

In [ ]:
#creating instance of one-hot-encoder
encoder = OneHotEncoder(handle_unknown='ignore')

#perform one-hot encoding on 'team' column 
encoder_df = pd.DataFrame(encoder.fit_transform(df[['surge_multiplier']]).toarray())

#merge one-hot encoded columns back with original DataFrame
df = df.join(encoder_df)

#view final df

,Unnamed: 0,distance,cab_type,time_stamp,destination,source,surge_multiplier,id,product_id,name,...,wind,cab_type_lyft,cab_type_uber,0,1,2,3,4,5,6
0,0,1.45,Lyft,1545150004105,Back Bay,Northeastern University,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,lyft_line,Shared,...,14.46,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,4.17,Lyft,1545149713527,Financial District,Northeastern University,1.0,f6c9281c-bbb0-46d1-add7-1f6c72ff6b8f,lyft,Lyft,...,14.46,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2.61,Uber,1545152108275,Beacon Hill,Northeastern University,1.0,00825834-c0ed-45b3-9482-cb10e6fbbfb0,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,...,14.46,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2.41,Lyft,1545151204098,Beacon Hill,Northeastern University,1.0,be9279d1-8db6-4981-8ae2-15bff1d8ca20,lyft_premier,Lux,...,14.46,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1.45,Lyft,1545150004105,Back Bay,Northeastern University,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,lyft_line,Shared,...,14.46,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293159,293159,2.30,Lyft,1543203646421,Boston University,Beacon Hill,1.0,d9852684-4e38-494c-ad6d-d8090e857ba9,lyft_line,Shared,...,1.50,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
293160,293160,2.30,Lyft,1543203646421,Boston University,Beacon Hill,1.0,f3f35cea-9a3f-4534-930d-da42e7610f77,lyft_premier,Lux,...,1.50,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
293161,293161,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,90e22612-d1c7-47c2-af54-2a2240109889,6c84fd89-3f11-4782-9b50-97c468b19529,Black,...,1.50,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
293162,293162,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,bb3f969d-3190-4bb8-9a84-dff2deba0a98,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,...,1.50,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
293163,293163,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,cec0651f-2280-48ac-86bf-cb0152cada9e,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,...,1.50,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df.rename(columns = {0 : "surge_multiplier_1"  , 1 : "surge_multiplier_125" , 2 : "surge_multiplier_5", 3 :"surge_multiplier_175"  , 4 : "surge_multiplier_2", 5 :"surge_multiplier_25" , 6 :"surge_multiplier_3" }, inplace = True)

In [ ]:
df

,Unnamed: 0,distance,cab_type,time_stamp,destination,source,surge_multiplier,id,product_id,name,...,wind,cab_type_lyft,cab_type_uber,surge_multiplier_1,surge_multiplier_125,surge_multiplier_5,surge_multiplier_175,surge_multiplier_2,surge_multiplier_25,surge_multiplier_3
0,0,1.45,Lyft,1545150004105,Back Bay,Northeastern University,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,lyft_line,Shared,...,14.46,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,4.17,Lyft,1545149713527,Financial District,Northeastern University,1.0,f6c9281c-bbb0-46d1-add7-1f6c72ff6b8f,lyft,Lyft,...,14.46,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2.61,Uber,1545152108275,Beacon Hill,Northeastern University,1.0,00825834-c0ed-45b3-9482-cb10e6fbbfb0,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,...,14.46,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2.41,Lyft,1545151204098,Beacon Hill,Northeastern University,1.0,be9279d1-8db6-4981-8ae2-15bff1d8ca20,lyft_premier,Lux,...,14.46,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1.45,Lyft,1545150004105,Back Bay,Northeastern University,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,lyft_line,Shared,...,14.46,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293159,293159,2.30,Lyft,1543203646421,Boston University,Beacon Hill,1.0,d9852684-4e38-494c-ad6d-d8090e857ba9,lyft_line,Shared,...,1.50,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
293160,293160,2.30,Lyft,1543203646421,Boston University,Beacon Hill,1.0,f3f35cea-9a3f-4534-930d-da42e7610f77,lyft_premier,Lux,...,1.50,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
293161,293161,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,90e22612-d1c7-47c2-af54-2a2240109889,6c84fd89-3f11-4782-9b50-97c468b19529,Black,...,1.50,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
293162,293162,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,bb3f969d-3190-4bb8-9a84-dff2deba0a98,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,...,1.50,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
293163,293163,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,cec0651f-2280-48ac-86bf-cb0152cada9e,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,...,1.50,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df

,Unnamed: 0,distance,cab_type,time_stamp,destination,source,surge_multiplier,id,product_id,name,...,wind,cab_type_lyft,cab_type_uber,surge_multiplier_1,surge_multiplier_125,surge_multiplier_5,surge_multiplier_175,surge_multiplier_2,surge_multiplier_25,surge_multiplier_3
0,0,1.45,Lyft,1545150004105,Back Bay,Northeastern University,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,lyft_line,Shared,...,14.46,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,4.17,Lyft,1545149713527,Financial District,Northeastern University,1.0,f6c9281c-bbb0-46d1-add7-1f6c72ff6b8f,lyft,Lyft,...,14.46,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2.61,Uber,1545152108275,Beacon Hill,Northeastern University,1.0,00825834-c0ed-45b3-9482-cb10e6fbbfb0,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool,...,14.46,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2.41,Lyft,1545151204098,Beacon Hill,Northeastern University,1.0,be9279d1-8db6-4981-8ae2-15bff1d8ca20,lyft_premier,Lux,...,14.46,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1.45,Lyft,1545150004105,Back Bay,Northeastern University,1.0,b6c769b8-7a89-42d0-bf99-324ad9abae8d,lyft_line,Shared,...,14.46,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293159,293159,2.30,Lyft,1543203646421,Boston University,Beacon Hill,1.0,d9852684-4e38-494c-ad6d-d8090e857ba9,lyft_line,Shared,...,1.50,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
293160,293160,2.30,Lyft,1543203646421,Boston University,Beacon Hill,1.0,f3f35cea-9a3f-4534-930d-da42e7610f77,lyft_premier,Lux,...,1.50,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
293161,293161,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,90e22612-d1c7-47c2-af54-2a2240109889,6c84fd89-3f11-4782-9b50-97c468b19529,Black,...,1.50,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
293162,293162,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,bb3f969d-3190-4bb8-9a84-dff2deba0a98,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX,...,1.50,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
293163,293163,2.19,Uber,1543203646358,North End,Beacon Hill,1.0,cec0651f-2280-48ac-86bf-cb0152cada9e,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,...,1.50,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
len(df.name.unique())

12

## name

In [17]:
df = pd.get_dummies(df, columns = ['surge_multiplier','cab_type','name','day','class_hour'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293164 entries, 0 to 293163
Data columns (total 59 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   distance               293164 non-null  float64
 1   avg_travel_time        293164 non-null  float64
 2   temp                   293164 non-null  float64
 3   clouds                 293164 non-null  float64
 4   pressure               293164 non-null  float64
 5   rain                   293164 non-null  float64
 6   humidity               293164 non-null  float64
 7   wind                   293164 non-null  float64
 8   Unnamed: 0             293164 non-null  int64
 9   time_stamp             293164 non-null  int64
 10  destination            293164 non-null  object
 11  source                 293164 non-null  object
 12  id                     293164 non-null  object
 13  product_id             293164 non-null  object
 14  date_time              293164 non-null  object
 15  date                   293164 non-null  object
 16  hour                   293164 non-null  int64
 17  fare_per_mile          293164 non-null  float64
 18  Price                  293164 non-null  float64
 19  traveling_time         293164 non-null  object
 20  max_travel_time        293164 non-null  float64
 21  min_travel_time        293164 non-null  float64
 22  merge_date             293164 non-null  object
 23  surge_multiplier_1.0   293164 non-null  uint8
 24  surge_multiplier_1.25  293164 non-null  uint8
 25  surge_multiplier_1.5   293164 non-null  uint8
 26  surge_multiplier_1.75  293164 non-null  uint8
 27  surge_multiplier_2.0   293164 non-null  uint8
 28  surge_multiplier_2.5   293164 non-null  uint8
 29  surge_multiplier_3.0   293164 non-null  uint8
 30  cab_type_Lyft          293164 non-null  uint8
 31  cab_type_Uber          293164 non-null  uint8
 32  name_Black             293164 non-null  uint8
 33  name_Black SUV         293164 non-null  uint8
 34  name_Lux               293164 non-null  uint8
 35  name_Lux Black         293164 non-null  uint8
 36  name_Lux Black XL      293164 non-null  uint8
 37  name_Lyft              293164 non-null  uint8
 38  name_Lyft XL           293164 non-null  uint8
 39  name_Shared            293164 non-null  uint8
 40  name_UberPool          293164 non-null  uint8
 41  name_UberX             293164 non-null  uint8
 42  name_UberXL            293164 non-null  uint8
 43  name_WAV               293164 non-null  uint8
 44  day_0                  293164 non-null  uint8
 45  day_1                  293164 non-null  uint8
 46  day_2                  293164 non-null  uint8
 47  day_3                  293164 non-null  uint8
 48  day_4                  293164 non-null  uint8
 49  day_5                  293164 non-null  uint8
 50  day_6                  293164 non-null  uint8
 51  class_hour_0           293164 non-null  uint8
 52  class_hour_1           293164 non-null  uint8
 53  class_hour_2           293164 non-null  uint8
 54  class_hour_3           293164 non-null  uint8
 55  class_hour_4           293164 non-null  uint8
 56  class_hour_5           293164 non-null  uint8
 57  class_hour_6           293164 non-null  uint8
 58  class_hour_7           293164 non-null  uint8
dtypes: float64(12), int64(3), object(8), uint8(36)
memory usage: 61.5+ MB

In [ ]:
# # Import label encoder
# from sklearn import preprocessing
  
# # label_encoder object knows how to understand word labels.
# label_encoder = preprocessing.LabelEncoder()
  
# # Encode labels in column 'species'.
# df['name']= label_encoder.fit_transform(df['name'])
  
# df['name'].unique()

array([ 7,  5,  8,  2, 11,  4,  1, 10,  6,  9,  0,  3])

In [ ]:
# df[(df.name == "Lux Black")]

In [ ]:
# df.rename(columns = {7:'name_Shared', 5:'name_Lyft', 8:'name_UberPool', 2:'name_Lux', 11:'name_WAV', 4:'name_Lux Black XL',
      #  1:'name_Black SUV', 10:'name_UberXL', 6:'name_Lyft XL', 9:'name_UberX', 0:'name_Black', 3:'name_Lux Black' }, inplace = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293164 entries, 0 to 293163
Data columns (total 59 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   distance               293164 non-null  float64
 1   Price                  293164 non-null  float64
 2   avg_travel_time        293164 non-null  float64
 3   temp                   293164 non-null  float64
 4   clouds                 293164 non-null  float64
 5   pressure               293164 non-null  float64
 6   rain                   293164 non-null  float64
 7   humidity               293164 non-null  float64
 8   wind                   293164 non-null  float64
 9   Unnamed: 0             293164 non-null  int64
 10  time_stamp             293164 non-null  int64
 11  destination            293164 non-null  object
 12  source                 293164 non-null  object
 13  id                     293164 non-null  object
 14  product_id             293164 non-null  object
 15  date_time              293164 non-null  object
 16  date                   293164 non-null  object
 17  hour                   293164 non-null  int64
 18  fare_per_mile          293164 non-null  float64
 19  traveling_time         293164 non-null  object
 20  max_travel_time        293164 non-null  float64
 21  min_travel_time        293164 non-null  float64
 22  merge_date             293164 non-null  object
 23  surge_multiplier_1.0   293164 non-null  uint8
 24  surge_multiplier_1.25  293164 non-null  uint8
 25  surge_multiplier_1.5   293164 non-null  uint8
 26  surge_multiplier_1.75  293164 non-null  uint8
 27  surge_multiplier_2.0   293164 non-null  uint8
 28  surge_multiplier_2.5   293164 non-null  uint8
 29  surge_multiplier_3.0   293164 non-null  uint8
 30  cab_type_Lyft          293164 non-null  uint8
 31  cab_type_Uber          293164 non-null  uint8
 32  name_Black             293164 non-null  uint8
 33  name_Black SUV         293164 non-null  uint8
 34  name_Lux               293164 non-null  uint8
 35  name_Lux Black         293164 non-null  uint8
 36  name_Lux Black XL      293164 non-null  uint8
 37  name_Lyft              293164 non-null  uint8
 38  name_Lyft XL           293164 non-null  uint8
 39  name_Shared            293164 non-null  uint8
 40  name_UberPool          293164 non-null  uint8
 41  name_UberX             293164 non-null  uint8
 42  name_UberXL            293164 non-null  uint8
 43  name_WAV               293164 non-null  uint8
 44  day_0                  293164 non-null  uint8
 45  day_1                  293164 non-null  uint8
 46  day_2                  293164 non-null  uint8
 47  day_3                  293164 non-null  uint8
 48  day_4                  293164 non-null  uint8
 49  day_5                  293164 non-null  uint8
 50  day_6                  293164 non-null  uint8
 51  class_hour_0           293164 non-null  uint8
 52  class_hour_1           293164 non-null  uint8
 53  class_hour_2           293164 non-null  uint8
 54  class_hour_3           293164 non-null  uint8
 55  class_hour_4           293164 non-null  uint8
 56  class_hour_5           293164 non-null  uint8
 57  class_hour_6           293164 non-null  uint8
 58  class_hour_7           293164 non-null  uint8
dtypes: float64(12), int64(3), object(8), uint8(36)
memory usage: 61.5+ MB

In [19]:
df.columns

Index(['distance', 'avg_travel_time', 'temp', 'clouds', 'pressure', 'rain',
       'humidity', 'wind', 'Unnamed: 0', 'time_stamp', 'destination', 'source',
       'id', 'product_id', 'date_time', 'date', 'hour', 'fare_per_mile',
       'Price', 'traveling_time', 'max_travel_time', 'min_travel_time',
       'merge_date', 'surge_multiplier_1.0', 'surge_multiplier_1.25',
       'surge_multiplier_1.5', 'surge_multiplier_1.75', 'surge_multiplier_2.0',
       'surge_multiplier_2.5', 'surge_multiplier_3.0', 'cab_type_Lyft',
       'cab_type_Uber', 'name_Black', 'name_Black SUV', 'name_Lux',
       'name_Lux Black', 'name_Lux Black XL', 'name_Lyft', 'name_Lyft XL',
       'name_Shared', 'name_UberPool', 'name_UberX', 'name_UberXL', 'name_WAV',
       'day_0', 'day_1', 'day_2', 'day_3', 'day_4', 'day_5', 'day_6',
       'class_hour_0', 'class_hour_1', 'class_hour_2', 'class_hour_3',
       'class_hour_4', 'class_hour_5', 'class_hour_6', 'class_hour_7'],
      dtype='object')

In [20]:
df.drop(['Unnamed: 0','time_stamp', 'destination',
       'source', 'id', 'product_id', 'date_time','hour',
       'date', 'fare_per_mile','traveling_time', 'max_travel_time',
       'min_travel_time', 'merge_date'],axis=1,inplace = True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293164 entries, 0 to 293163
Data columns (total 45 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   distance               293164 non-null  float64
 1   avg_travel_time        293164 non-null  float64
 2   temp                   293164 non-null  float64
 3   clouds                 293164 non-null  float64
 4   pressure               293164 non-null  float64
 5   rain                   293164 non-null  float64
 6   humidity               293164 non-null  float64
 7   wind                   293164 non-null  float64
 8   Price                  293164 non-null  float64
 9   surge_multiplier_1.0   293164 non-null  uint8
 10  surge_multiplier_1.25  293164 non-null  uint8
 11  surge_multiplier_1.5   293164 non-null  uint8
 12  surge_multiplier_1.75  293164 non-null  uint8
 13  surge_multiplier_2.0   293164 non-null  uint8
 14  surge_multiplier_2.5   293164 non-null  uint8
 15  surge_multiplier_3.0   293164 non-null  uint8
 16  cab_type_Lyft          293164 non-null  uint8
 17  cab_type_Uber          293164 non-null  uint8
 18  name_Black             293164 non-null  uint8
 19  name_Black SUV         293164 non-null  uint8
 20  name_Lux               293164 non-null  uint8
 21  name_Lux Black         293164 non-null  uint8
 22  name_Lux Black XL      293164 non-null  uint8
 23  name_Lyft              293164 non-null  uint8
 24  name_Lyft XL           293164 non-null  uint8
 25  name_Shared            293164 non-null  uint8
 26  name_UberPool          293164 non-null  uint8
 27  name_UberX             293164 non-null  uint8
 28  name_UberXL            293164 non-null  uint8
 29  name_WAV               293164 non-null  uint8
 30  day_0                  293164 non-null  uint8
 31  day_1                  293164 non-null  uint8
 32  day_2                  293164 non-null  uint8
 33  day_3                  293164 non-null  uint8
 34  day_4                  293164 non-null  uint8
 35  day_5                  293164 non-null  uint8
 36  day_6                  293164 non-null  uint8
 37  class_hour_0           293164 non-null  uint8
 38  class_hour_1           293164 non-null  uint8
 39  class_hour_2           293164 non-null  uint8
 40  class_hour_3           293164 non-null  uint8
 41  class_hour_4           293164 non-null  uint8
 42  class_hour_5           293164 non-null  uint8
 43  class_hour_6           293164 non-null  uint8
 44  class_hour_7           293164 non-null  uint8
dtypes: float64(9), uint8(36)
memory usage: 30.2 MB

In [22]:
df

,distance,avg_travel_time,temp,clouds,pressure,rain,humidity,wind,Price,surge_multiplier_1.0,...,day_5,day_6,class_hour_0,class_hour_1,class_hour_2,class_hour_3,class_hour_4,class_hour_5,class_hour_6,class_hour_7
0,-0.646748,-0.240554,-1.558765,-1.182438,0.099482,-0.21175,-2.237593,2.063766,5.300,1,...,0,0,0,0,0,0,0,1,0,0
1,1.748797,3.052229,-1.558765,-1.182438,0.099482,-0.21175,-2.237593,2.063766,14.310,1,...,0,0,0,0,0,0,0,1,0,0
2,0.374881,0.935440,-1.558765,-1.182438,0.099482,-0.21175,-2.237593,2.063766,8.400,1,...,0,0,0,0,0,0,0,1,0,0
3,0.198738,0.817840,-1.558765,-1.182438,0.099482,-0.21175,-2.237593,2.063766,17.325,1,...,0,0,0,0,0,0,0,1,0,0
4,-0.646748,-0.240554,-1.558765,-1.182438,0.099482,-0.21175,-2.237593,2.063766,5.300,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293159,0.101860,-1.534148,0.278701,0.642011,0.315441,-0.21175,1.334284,-1.496486,3.500,1,...,0,0,0,1,0,0,0,0,0,0
293160,0.101860,-1.534148,0.278701,0.642011,0.315441,-0.21175,1.334284,-1.496486,16.500,1,...,0,0,0,1,0,0,0,0,0,0
293161,0.004981,-0.240554,0.278701,0.642011,0.315441,-0.21175,1.334284,-1.496486,17.500,1,...,0,0,0,1,0,0,0,0,0,0
293162,0.004981,-0.240554,0.278701,0.642011,0.315441,-0.21175,1.334284,-1.496486,8.000,1,...,0,0,0,1,0,0,0,0,0,0
293163,0.004981,-0.240554,0.278701,0.642011,0.315441,-0.21175,1.334284,-1.496486,13.000,1,...,0,0,0,1,0,0,0,0,0,0

## for day one hot encoding

In [ ]:
# #creating instance of one-hot-encoder
# encoder = OneHotEncoder(handle_unknown='ignore')

# #perform one-hot encoding on 'team' column 
# encoder_df = pd.DataFrame(encoder.fit_transform(df[['day']]).toarray())

# #merge one-hot encoded columns back with original DataFrame
# df = df.join(encoder_df)

# #view final df

In [ ]:
df

,distance,name,day,hour,Price,max_travel_time,min_travel_time,avg_travel_time,cab_type_lyft,cab_type_uber,cab_type_lyft,cab_type_uber
0,1.45,7,1,16,5.300,14.0,5.0,9.5,1.0,0.0,1.0,0.0
1,4.17,5,1,16,14.310,35.0,12.0,23.5,1.0,0.0,1.0,0.0
2,2.61,8,1,16,8.400,20.0,9.0,14.5,0.0,1.0,0.0,1.0
3,2.41,2,1,16,17.325,20.0,8.0,14.0,1.0,0.0,1.0,0.0
4,1.45,7,1,16,5.300,14.0,5.0,9.5,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
293159,2.30,7,0,3,3.500,4.0,4.0,4.0,1.0,0.0,1.0,0.0
293160,2.30,2,0,3,16.500,4.0,4.0,4.0,1.0,0.0,1.0,0.0
293161,2.19,0,0,3,17.500,12.0,7.0,9.5,0.0,1.0,0.0,1.0
293162,2.19,9,0,3,8.000,12.0,7.0,9.5,0.0,1.0,0.0,1.0
293163,2.19,10,0,3,13.000,12.0,7.0,9.5,0.0,1.0,0.0,1.0

In [ ]:
# df.rename(columns = {1 : 'day_1', 6 : 'day_6', 3 : 'day_3', 0 : 'day_0', 4 : 'day_4', 2 : 'day_2', 5 : 'day_5'},inplace=True)

In [ ]:
del df['traveling_time']

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293164 entries, 0 to 293163
Data columns (total 45 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   distance               293164 non-null  float64
 1   avg_travel_time        293164 non-null  float64
 2   temp                   293164 non-null  float64
 3   clouds                 293164 non-null  float64
 4   pressure               293164 non-null  float64
 5   rain                   293164 non-null  float64
 6   humidity               293164 non-null  float64
 7   wind                   293164 non-null  float64
 8   Price                  293164 non-null  float64
 9   surge_multiplier_1.0   293164 non-null  uint8
 10  surge_multiplier_1.25  293164 non-null  uint8
 11  surge_multiplier_1.5   293164 non-null  uint8
 12  surge_multiplier_1.75  293164 non-null  uint8
 13  surge_multiplier_2.0   293164 non-null  uint8
 14  surge_multiplier_2.5   293164 non-null  uint8
 15  surge_multiplier_3.0   293164 non-null  uint8
 16  cab_type_Lyft          293164 non-null  uint8
 17  cab_type_Uber          293164 non-null  uint8
 18  name_Black             293164 non-null  uint8
 19  name_Black SUV         293164 non-null  uint8
 20  name_Lux               293164 non-null  uint8
 21  name_Lux Black         293164 non-null  uint8
 22  name_Lux Black XL      293164 non-null  uint8
 23  name_Lyft              293164 non-null  uint8
 24  name_Lyft XL           293164 non-null  uint8
 25  name_Shared            293164 non-null  uint8
 26  name_UberPool          293164 non-null  uint8
 27  name_UberX             293164 non-null  uint8
 28  name_UberXL            293164 non-null  uint8
 29  name_WAV               293164 non-null  uint8
 30  day_0                  293164 non-null  uint8
 31  day_1                  293164 non-null  uint8
 32  day_2                  293164 non-null  uint8
 33  day_3                  293164 non-null  uint8
 34  day_4                  293164 non-null  uint8
 35  day_5                  293164 non-null  uint8
 36  day_6                  293164 non-null  uint8
 37  class_hour_0           293164 non-null  uint8
 38  class_hour_1           293164 non-null  uint8
 39  class_hour_2           293164 non-null  uint8
 40  class_hour_3           293164 non-null  uint8
 41  class_hour_4           293164 non-null  uint8
 42  class_hour_5           293164 non-null  uint8
 43  class_hour_6           293164 non-null  uint8
 44  class_hour_7           293164 non-null  uint8
dtypes: float64(9), uint8(36)
memory usage: 30.2 MB

## hour category one hot encoding

In [ ]:
# one_hot_encoded_data = pd.get_dummies(df, columns = ["hour"])
# print(one_hot_encoded_data.columns)

In [ ]:
x = df.drop(['Price'] , axis =1)
# scale= StandardScaler()
# scaled_data = scale.fit_transform()

In [ ]:
y = df['Price']

In [ ]:
from sklearn.preprocessing import StandardScaler
scale= StandardScaler()
scaled_data = scale.fit_transform(x[['distance', 'max_travel_time', 'min_travel_time',  'avg_travel_time']])

In [ ]:
df_1 = pd.DataFrame(data=scaled_data , columns=['distance', 'max_travel_time', 'min_travel_time',  'avg_travel_time'])

In [ ]:
x.drop(['distance', 'max_travel_time', 'min_travel_time',  'avg_travel_time'] , axis=1 , inplace = True)
df_ans = pd.concat([x, df_1], axis=1)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [ ]:
df_ans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293164 entries, 0 to 293163
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   name             293164 non-null  int64
 1   day              293164 non-null  int64
 2   hour             293164 non-null  int64
 3   cab_type_lyft    293164 non-null  float64
 4   cab_type_uber    293164 non-null  float64
 5   cab_type_lyft    293164 non-null  float64
 6   cab_type_uber    293164 non-null  float64
 7   distance         293164 non-null  float64
 8   max_travel_time  293164 non-null  float64
 9   min_travel_time  293164 non-null  float64
 10  avg_travel_time  293164 non-null  float64
dtypes: float64(8), int64(3)
memory usage: 24.6 MB

In [ ]:
df_ans

,name,day,hour,cab_type_lyft,cab_type_uber,cab_type_lyft,cab_type_uber,distance,max_travel_time,min_travel_time,avg_travel_time
0,7,1,16,1.0,0.0,1.0,0.0,-0.646748,-0.021358,-0.763152,-0.240554
1,5,1,16,1.0,0.0,1.0,0.0,1.748797,3.374161,2.028696,3.052229
2,8,1,16,0.0,1.0,0.0,1.0,0.374881,0.948790,0.832190,0.935440
3,2,1,16,1.0,0.0,1.0,0.0,0.198738,0.948790,0.433354,0.817840
4,7,1,16,1.0,0.0,1.0,0.0,-0.646748,-0.021358,-0.763152,-0.240554
...,...,...,...,...,...,...,...,...,...,...,...
293159,7,0,3,1.0,0.0,1.0,0.0,0.101860,-1.638271,-1.161988,-1.534148
293160,2,0,3,1.0,0.0,1.0,0.0,0.101860,-1.638271,-1.161988,-1.534148
293161,0,0,3,0.0,1.0,0.0,1.0,0.004981,-0.344741,0.034519,-0.240554
293162,9,0,3,0.0,1.0,0.0,1.0,0.004981,-0.344741,0.034519,-0.240554
293163,10,0,3,0.0,1.0,0.0,1.0,0.004981,-0.344741,0.034519,-0.240554

In [ ]:

X_train, X_test, y_train, y_test = train_test_split(df_ans, y, test_size=0.3,
                                                    random_state=1)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
reg = LinearRegression().fit(X_train, y_train)

In [ ]:
y_pred=reg.predict(X_test)
from sklearn.metrics import r2_score

r=r2_score(y_test,y_pred)

In [ ]:
r

0.47320266714173775

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
x.columns

Index(['cab_type_lyft', 'cab_type_uber', 'surge_multiplier_1',
       'surge_multiplier_15', 'surge_multiplier_125', 'surge_multiplier_20',
       'surge_multiplier_25', 'surge_multiplier_25', 'surge_multiplier_3',
       'name_Black', 'name_Black SUV', 'name_Lux', 'name_Lux Black',
       'name_Lux Black XL', 'name_Lyft', 'name_Lyft XL', 'name_Shared',
       'name_UberPool', 'name_UberX', 'name_UberXL', 'name_WAV', 'day_0',
       'day_1', 'day_2', 'day_3', 'day_4', 'day_5', 'day_6', 'hour_0',
       'hour_1', 'hour_2', 'hour_3', 'hour_4', 'hour_5', 'hour_6', 'hour_7',
       'hour_8', 'hour_9', 'hour_10', 'hour_11', 'hour_12', 'hour_13',
       'hour_14', 'hour_15', 'hour_16', 'hour_17', 'hour_18', 'hour_19',
       'hour_20', 'hour_21', 'hour_22', 'hour_23'],
      dtype='object')

        distance  max_travel_time  min_travel_time  avg_travel_time
0           1.45             14.0              5.0              9.5
1           4.17             35.0             12.0             23.5
2           2.61             20.0              9.0             14.5
3           2.41             20.0              8.0             14.0
4           1.45             14.0              5.0              9.5
...          ...              ...              ...              ...
293159      2.30              4.0              4.0              4.0
293160      2.30              4.0              4.0              4.0
293161      2.19             12.0              7.0              9.5
293162      2.19             12.0              7.0              9.5
293163      2.19             12.0              7.0              9.5

[293164 rows x 4 columns]

NameError: ignored

In [24]:
df.to_csv("/content/gdrive/MyDrive/uber lyft price prediction/data set/one_hot_encoded.csv")